<{includeq file='db:partners_header.html'}>

<!-- View single partner -->
<{if $partners_partner}>
	<div>
		<h1><{$partners_partner.title}></h1>
			<div><b><{$smarty.const._CO_PARTNERS_PARTNER_LOGO}></b>: <{$partners_partner.logo}></div>
			<div><b><{$smarty.const._CO_PARTNERS_PARTNER_WEBSITE}></b>: <{$partners_partner.website}></div>
			<div><b><{$smarty.const._CO_PARTNERS_PARTNER_DESCRIPTION}></b>: <{$partners_partner.description}></div>
			<div><b><{$smarty.const._CO_PARTNERS_PARTNER_EXTENDED_TEXT}></b></div>
					<div><{$partners_partner.extended_text}></div>
			<div><b><{$smarty.const._CO_PARTNERS_PARTNER_CONTACT_NAME}></b>: <{$partners_partner.contact_name}></div>
			<div><b><{$smarty.const._CO_PARTNERS_PARTNER_CONTACT_POSITION}></b>: <{$partners_partner.contact_position}></div>
			<div><b><{$smarty.const._CO_PARTNERS_PARTNER_CONTACT_EMAIL}></b>: <{$partners_partner.contact_email}></div>
			<div><b><{$smarty.const._CO_PARTNERS_PARTNER_CONTACT_PHONE}></b>: <{$partners_partner.contact_phone}></div>
			<div><b><{$smarty.const._CO_PARTNERS_PARTNER_CONTACT_FAX}></b>: <{$partners_partner.contact_fax}></div>
			<div><b><{$smarty.const._CO_PARTNERS_PARTNER_ADDRESS}></b></div>
			<div><{$partners_partner.address}></div>
	</div>
<{/if}>

<!-- View partner index in summary mode -->
<{if $partner_summaries}>
	<div>
		
		<!-- pagination control -->
		<div>
			<{if $partners_navbar }><{$partners_navbar}><{/if}>
		</div>
		
		<{foreach item = partner from = $partner_summaries}>
		
			<div class="partners_separator">
				<{if $partner.logo && $display_partner_logos}>
					<{if $freestyle_logo_dimensions}>
					
						<div class="partners_float_left">
							<a href="<{$partner.itemUrl}>"><img src="<{$partner.logo}>" alt="<{$partner.title}>" /></a>
						</div>
					
					<{else}>
					
						<div class="partners_float_left">
							<a href="<{$partner.itemUrl}>"><{resized_image file=$partner.logo width=$logo_display_width height="999" fit="inside"}></a>
						</div>
					
					<{/if}>
				<{/if}>
				<div>
					<h2><a href="<{$partner.itemUrl}>"><{$partner.title}></a></h2>
					<p><{$partner.description}></p>
				</div>
			</div>
		
		<{/foreach}>

		<!-- pagination control -->
		<div>
			<{if $partners_navbar }><{$partners_navbar}><{/if}>
		</div>
		
	</div>
<{/if}>

<!-- View partner index as compact table -->
<{if $partners_partner_table}>
	<h1><{$partners_title}></h1>
	<{$partners_partner_table}>
<{/if}>

<{includeq file='db:partners_footer.html'}>